---

---

<section class="flex flex-col h-[calc(100vh-300px)] mt-60">
  <p class="text-8xl font-bold">
    Does your beer also taste like
    <span id="typewriter" class="text-accent-foreground"></span>
  </p>
</section>

<script>
  import Typewriter from 'typewriter-effect/dist/core';

  const strings = ['hay?', 'a tremendous amount of hay?', 'a tremendous amount of hay and a little bit of beer?'];

  const el = document.querySelector('#typewriter');
  new Typewriter(el, {
    strings: strings,
    loop: true,
    autoStart: true,
  });
</script>
