<div>
  Does your beer also taste <span id="typewriter"></span>
</div>

<script>
  import Typewriter from 'typewriter-effect/dist/core';

  const strings = [
    'like hay?',
    'like a tremendous amount of hay?',
    'like a tremendous amount of hay and a little bit of beer?',
  ];

  const el = document.querySelector('#typewriter');
  new Typewriter(el, {
    strings: strings,
    loop: true,
    autoStart: true,
  });
</script>
