---
import Layout from '~/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/Hero.astro';
import Introduction from '~/sections/intro.mdx';
import Data from '~/sections/data.mdx';
import Methodology from '~/sections/methodology.mdx';
import Results from '~/sections/results.mdx';
import Interpretation from '~/sections/interpretation.mdx';
// import OtherGroupings from '~/sections/groupings.mdx';
import Remarks from '~/sections/remarks.mdx';
import Conclusion from '~/sections/conclusion.mdx';

const metadata = {
  title: 'Unlocking the Palate: A Data-Centric Approach to Understanding Beer Descriptors',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div class="wide-container">
    <Header showToggleTheme position="right" />
    <Hero />
  </div>
  <div class="container">
    <Introduction />
    <Data />
    <Methodology />
    <Results />
    <Interpretation />
    <Remarks />
    <Conclusion />
  </div>
</Layout>
