---
import Layout from '~/layouts/Layout.astro';

const title = `Limitations & Ethics`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="wide-container mt-20">
      <a rel="noopener noreferrer" href="/" class="btn">Back to homepage</a>
      <h3>Limitations</h3>
      <hr />
      <p>
        In this report, we had access to a limited number of variables related to each review. Therefore, we could not
        account for various possible confounders such as the time of review, the nationality of the revieiwer, the
        difference between every drink of a single kind/style of beer and the differences in perceptions between
        people's experience of taste. We did attempt to look at the variables we did have access to such as the location
        of the review and the inherent quality of the beer (as estimated by overall rating). We also did not interpret
        the context of words. While this is not an issue for most descriptive words ('strawberry' will only ever refer to strawberry taste), it relevant for
        negations ('does not taste of strawberry'). However, we believe that this is not a major issue as the majority of descriptors are positive (taste like...).
      </p>
      <h3>Ethical Considerations</h3>
      <hr />
      <p>
        We did not use any additional datasets, only the data provided to us for the project, therefore there are not
        ethical considerations related to data collection. We also believe that the ethical implications of this work
        are negligible, other than perhaps some disgruntled beer experts would be displeased with a scientific analysis
        of their precious art.
      </p>
    </div>
  </section>
</Layout>
