---

---

<section class="flex flex-col mt-32 mb-32 sm:mt-40 sm:mb-60">
  <p class="text-6xl sm:text-7xl md:text-8xl font-bold text-left h-[500px] sm:leading-snug md:leading-snug">
    Does your beer taste like
    <span id="quotes" class="text-accent-foreground"></span>
  </p>
  <p id="fadein-1" class="fadein"><span class="text-foreground">No?</span> Ours definitely don't.</p>
  <p id="fadein-2" class="fadein">
    <span class="text-accent-foreground font-light">What does this even mean?</span>
  </p>
</section>

<script>
  import Typewriter from 'typewriter-effect/dist/core';

  const quotes = ['a touch of wintergreen?', 'toasted white bread?', 'deep copper?'];
  // 1. user_name: cypressbo, user_id: cypressbob.3708
  // 2. user_name: StJamesGate, user_id: stjamesgate.163714
  // 3. user_name: mdagnew, user_id: mdagnew.19527

  const quotesEl = document.querySelector('#quotes');
  new Typewriter(quotesEl, {
    strings: quotes,
    loop: true,
    autoStart: true,
    pauseFor: 3000,
    onRemoveNode: () => {
      console.log('onRemoveNode');
    },
  });

  function fadeInAfterDelay(elementId, delay) {
    setTimeout(() => {
      document.getElementById(elementId)!.style.opacity = '1';
    }, delay);
  }

  fadeInAfterDelay('fadein-1', 6000); // Fades in after 2000 milliseconds
  fadeInAfterDelay('fadein-2', 8000); // Fades in after 2000 milliseconds
</script>
