---
import { SITE } from '~/utils/config';
---

<span class="self-center text-lg font-bold text-gray-400 whitespace-nowrap dark:text-gray-600">
  Team
  <span class="text-foreground"> {SITE?.name}</span>
</span>
