---
const { review, author, beer, date } = Astro.props;
---

<div class="w-full bg-muted rounded-lg px-4 py-6 my-6">
  <p class="m-0 text-foreground text-base">{review}</p>
  <p class="m-0 text-sm mt-4">
    <span class="font-semibold">{author}</span> reviewing <span class="font-semibold">{beer}</span> on <span
      >{date}</span
    >
  </p>
</div>
