---
import '~/assets/global.css';
import '@fontsource/poppins';

import { I18N } from '~/utils/config';

import ApplyColorMode from '~/components/ApplyColorMode.astro';
import Metadata from '~/components/Metadata.astro';
import Favicon from '~/components/Favicon.astro';
import Scripts from '~/components/Scripts.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Favicon />
    <Metadata {...metadata} />
  </head>

  <body class="relative antialiased flex flex-col w-full justify-center">
    <slot />
    <Scripts />
    <ApplyColorMode />
  </body>
</html>
